* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    text-align: center;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

a {
    z-index: 999;
}

h1 {
    padding: 1em;
    color: #ff8200;
}

.container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#description {
    width: 100%;
}

#miniature {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 120px;
}

#miniature img {
    object-fit: cover;
    height: 100%;
}

.miniContainer {
    position: relative;
}

#carousel {
    display: flex;
    width: 1200px;
    height: 600px;
    position: relative;
}

#carousel img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.zId2 {
    z-index: 2;
    position: absolute;
    bottom: 0px;
    color: white;
    width: 100%;
    height: 15%;
    background: #80808042;
}

.zId1 {
    z-index: 1;
}

.zId0 {
    z-index: 0;
}

.borderImg {
    border: 7px solid #80808057;
}

.next {
    position: absolute;
    bottom: 2%;
    left: 36%;
}

.back {
    left: 36%;
    top: 2%;
    position: absolute;
}

.btn {
    color: white;
    background: #80808069;
    border-radius: 1em;
    width: 6em;
}